.category-product {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem 0 4rem 0;
    border-bottom: 1px solid var(--grey-color-4);
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 0;
        font-size: 1.5rem;
    }
    &__title {
        text-transform: capitalize;
    }
    &__address {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        gap: .5rem;
        color: var(--blue-color)
    }
    &__list-product {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        gap: 1.5rem;
        font-size: 1rem;
    }
}

.product {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    &__img {
        height: 25rem;
        aspect-ratio: 1;
        object-fit: contain;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius-md);
        -webkit-border-radius: var(--border-radius-md);
        -moz-border-radius: var(--border-radius-md);
        -ms-border-radius: var(--border-radius-md);
        -o-border-radius: var(--border-radius-md);
    }
    &__price {
        font-size: 2rem;
        text-transform: uppercase;
        opacity: .8;
        font-weight: 600;
    }
    &__name {
        color: var(--grey-color-1);
        font-size: 1.8rem;
        font-weight: 400;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
    &__address {
        font-size: 1.4rem;
        font-weight: 300;
        opacity: .5;
        text-transform: capitalize;
    }
}