.share {
    padding: 1rem;
    background-color: var(--white-color);
    border-radius: var(--border-radius-large);
    margin-top: 2rem;
    box-shadow: var(--box-shadow);
    &__top {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    &__input {
        flex: 1;
        border: none;
        outline: none;
        background-color: var(--grey-white-color);
        border-radius: 10px;
        padding: 1rem;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
    }
    &__hr {
        height: 1px;
        background-color: var(--grey-color);
    }
    &__options {
        display: flex;
        padding-top: 1rem;
        list-style: none;
    }
    &__option {
        flex: 1;
        font-size: 2.5rem;
        padding: 1rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        span {
            font-size: 1.5rem;
            color: var(--grey-color-4);
        }
        &:hover {
            background-color: var(--grey-color-3);
        }
        border-radius: 5px;
        &--1 {
            color: var(--red-color)
        }
        &--2 {
            color: var(--green-color)
        }
        &--3 {
            color: var(--lemon-color)
        }
    }
    -webkit-border-radius: var(--border-radius-large);
    -moz-border-radius: var(--border-radius-large);
    -ms-border-radius: var(--border-radius-large);
    -o-border-radius: var(--border-radius-large);
}