.home {
    background-color: var(--grey-color-3);
    .main {
        padding-top: 3rem;
    }
    .sidebar {
        margin-right: 4rem;
        position: sticky;
        top: 4.5rem;
        left: 0;
        align-self: start;
        width: 30%;
    }
    .feed {
        width: 40%;
    }
    .rightbar {
        padding-left: 9rem;
        position: sticky;
        height: 100vh;
        top: 4.5rem;
        width: 30%;
        align-items: start;
    }
}