.create-room {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
    background-color: var(--white-color);
    cursor: pointer;
    &__list-user {
        display: flex;
        flex: 1;
        gap: .5rem;
    }
    &__btn {
        display: flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        background-color: var(--white-color);
        &:hover {
            background-color: var(--grey-color-3);
        }
        border: 2px solid rgba(#3578E5, .2);
        border-radius: var(--border-radius-large);
        -webkit-border-radius: var(--border-radius-large);
        -moz-border-radius: var(--border-radius-large);
        -ms-border-radius: var(--border-radius-large);
        -o-border-radius: var(--border-radius-large);
    }
    &__icon {
        font-size: 2.8rem;
        color: var(--purple-color);
    }
    &__btn-text {
        font-size: 1.3rem;
        color: var(--blue-color)
    }
    border-radius :var(--border-radius-large);
    -webkit-border-radius:var(--border-radius-large);
    -moz-border-radius :var(--border-radius-large);
    -ms-border-radius :var(--border-radius-large);
    -o-border-radius :var(--border-radius-large);
    box-shadow: var(--box-shadow);
}