.marketplace {
    &__main {
        // padding-top: 1rem;
        display: flex;
    }
    &__sidebar {
        position: sticky;
        top: 4.5rem;
        height: 100vh;
        overflow: scroll;
        align-self: flex-start;
        justify-self: flex-start;
        width: 20%;
        padding: 1rem 0 0 .5rem;
        background-color: var(--white-color);
        box-shadow: var(--box-shadow);
    }
    &__nav-btn {
        padding: 1rem 0;
        border-bottom: 1px solid var(--grey-color);
    }
    &__filters {
        padding: 2rem 0 1.5rem 2rem;
        border-bottom: 1px solid var(--grey-color);
    }
    &__filters-heading {
        font-size: 2rem;
        font-weight: 400;
        margin-bottom: .5rem;
    }
    &__filters-address {
        font-size: 1.5rem;
        color: var(--blue-color);
    }
    &__categories-heading {
        padding: 1rem 0 0 2rem;
        font-size: 2rem;
        font-weight: 400;
    }
    &__products {
        flex: 1;
        padding: 0 3rem;
        background-color: var(--grey-color-3);
    }
}