    .shortCutCard {
        align-items: center;
        gap: 1rem;
        border-radius: 3px;
        padding: var(--main-padding);
        padding-top: .3rem;
        padding-bottom: .3rem;
        cursor: pointer;
        &:hover {
            background-color: var(--grey-color);
        }
        .img {
            height: 3rem;
            width: 3rem;
            border-radius: 50%;
            object-fit: cover;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
        }
        .name {
            font-size: 1.2rem;
            text-transform: capitalize;
        }
    }