@import '../../index.scss';
.nav-icon {
    fill: var(--grey-white-color);
    color: var(--grey-white-color);
}

.navigation-buttom {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    flex: 1;
    cursor: pointer;
    @include hoverBefore;
    &:hover {
        background-color: var(--grey-color-2);
    }
    border-radius: var(--border-radius-md);
    -webkit-border-radius: var(--border-radius-md);
    -moz-border-radius: var(--border-radius-md);
    -ms-border-radius: var(--border-radius-md);
    -o-border-radius: var(--border-radius-md);
    // border-borderRadiusLeftBottom:0
}