.rightbar {
    padding-left: 6rem;
    ;
    &__title {
        font-size: 2rem;
        color: var(--grey-color-4)
    }
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__header-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
    }
    &__option {
        height: 4rem;
        width: 4rem;
        border-radius: 50%;
        &:hover {
            background-color: var(--grey-color);
        }
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }
    &__option-icon {
        font-size: 4rem;
        cursor: pointer;
        padding: 1rem;
        color: var(--grey-color-2);
    }
}